{% extends 'index.html' %}

{% block content %}
    <section id="book-a-table" class="book-a-table">
      <div class="container">

        <div class="section-title">
          <h2>Update a <span>Category</span></h2>
        </div>

        <form method="post" role="form">
            {% csrf_token %}
          <div class="row">
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                <p><b>Name:</b> </p>
              <input type="text" name="name" class="form-control" id="name" placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" value="{{ category.name }}">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
                <p><b>Position:</b> </p>
              <input type="number" name="position" id="position" placeholder="Position" value="{{ category.position }}">
            </div>
              <div class="col-lg-4 col-md-6 form-group mt-3">
                  <p>Is visibility: </p>
                  <input type="checkbox" name="is_visibility" id="is_visibility" checked value="True"> <p>Yes</p>
                  <input type="checkbox" name="is_visibility" id="is_visibility" value="No"> <p>No</p>

              <div class="validate"></div>
              </div>
          </div>
          <div class="text-center"><button type="submit">Update category</button></div>
        </form>

      </div>

    </section><!-- End Add A Dish Section -->
        <div class="section-title">
          <a href="{% url 'delete_category' pk=category.pk %}">
              <button type="button" class="btn btn-primary btn-sm">Удалить категорию</button>
          </a>
        </div>
{% endblock %}